<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
  <b>Image:</b>
  <%= image_tag @event.image.url if @event.image.present? %>  
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
